.fullscreen .container-fluid { 
    position: absolute; 
    top: 60px; 
    width: 100%; 
    bottom: 0; 
    left: 0px;
}

.leaflet-popup .btn {
    color: white;
}

.fake-modal-link {
	bottom: 35px;
	position: relative;
	color: #2c3e50;
}
.fake-modal-link:hover {
	color: #95a5a6;
	text-decoration: none;
}