{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}
    {% trans 'Password Change' %}
{% endblock title %}

{% block content %}
    <!-- row is also an option -->
    <div class="row col-lg-offset-1 col-lg-10">
        <div class="">
            <div class="page-header">
                <h1 id="type">Alterar senha</h1>
            </div>
        </div>
    </div>
    <div class="row col-lg-offset-2">
        <div class="col-lg-8">
            <div class="bs-example well">
                <form class="bs-example form-horizontal" method="POST">
                    <input type="hidden" name="next" value="{{ next }}" />
                    {% csrf_token %}
                    <fieldset>
                        <div class="form-group">
                            <label for="id_password" class="col-lg-2 control-label">Senha antiga</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="id_password" name="password" placeholder="Senha antiga">
                            </div>
                        </div>
						<div class="form-group">
                            <label for="id_new_password1" class="col-lg-2 control-label">Nova Senha</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="Nova Senha">
                            </div>
                        </div>
						<div class="form-group">
                            <label for="id_new_password2" class="col-lg-2 control-label">Confirmação da Nova Senha</label>
                            <div class="col-lg-10">
                                <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="Confirmação da Nova Senha">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Change' %}" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
