{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load i18n %}

{% block title %}
    {% trans 'Login' %}
{% endblock title %}

{% block content %}
    <!-- row is also an option -->
    <div class="row col-lg-offset-1 col-lg-10">
        <div class="">
            <div class="page-header">
                <h1 id="type">Acessar sua conta</h1>
            </div>
        </div>
    </div>
    <div class="row col-lg-offset-2">
        <div class="col-lg-8">
            {% if validlink %}
                <div class="bs-example well">
                    <form class="bs-example form-horizontal" method="POST">
                        <input type="hidden" name="next" value="{{ next }}" />
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="id_email" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="id_email" name="email" placeholder="Email">
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Submit' %}" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            {% else %}
                <div class="bs-example">
                    <div class="alert alert-dismissable alert-success">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        {% trans "You are now registered. Activation email sent." %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
        
{% endblock %}