{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}
    {% trans 'Register' %}
{% endblock title %}

{% block content %}
    <!-- row is also an option -->
    <div class="row col-lg-offset-1 col-lg-10">
        <div class="">
            <div class="page-header">
                <h1 id="type">Criar uma conta</h1>
            </div>
        </div>
    </div>
    <div class="row col-lg-offset-1 col-lg-10">
        <div class="col-lg-4">
            <div class="bs-example well">
                <h2 style="text-align:center">Acessar usando</h2>
                <hr>
                <a class="btn btn-block btn-primary btn-lg">Facebook</a>
                <a class="btn btn-block btn-danger btn-lg">Google+</a>
                <a class="btn btn-block btn-info btn-lg">Twitter</a>
            </div>
        </div>
        
        <div class="col-lg-8">
            <div class="bs-example well">
                <h2>Preencha as informações</h2>
                <hr/>
                <form class="bs-example form-horizontal" method="POST">
                    {% csrf_token %}
                    {% bootstrap_form form layout="horizontal" field_class="col-md-9" %}
                    
                    <div class="form-group">
                        <div class="col-lg-10 col-lg-offset-2">
                            <input type="submit" class="btn btn-primary btn-block" value="Confirmar" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
