{% extends "base.html" %}
{% load bootstrap3 %}

{% block extra_head %}
  <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
  <!--[if lte IE 8]>
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.ie.css' rel='stylesheet' >
  <![endif]-->
  <style type="text/css">
    #map:hover {
      cursor: crosshair;
    }
  </style>
{% endblock extra_head %}

{% block content %}
  <!-- row is also an option -->
  <div class="row-fluid">
    <div id="map"></div>
  </div>

  <div id="id_block_add_marker" class="fake-modal row col-lg-offset-3 col-lg-6 hide">
    <div class="well">
      <div class="page-header">
        <h1 id="type">Adicionar Ponto de Coleta</h1>
        <br>
        <div class="row col-lg-offset-2">
          <div class="col-lg-12">
            <div class="bs-example">
              <form class="bs-example form-horizontal" method="POST" action="{% url 'collect_spot_create' %}">
                {% csrf_token %}
                {% bootstrap_form collect_spot_form layout="horizontal" field_class="col-md-9" %}

                {% buttons %}
                  <div class="col-lg-offset-2 col-lg-10">
                    <input type="reset" class="btn btn-default" value="Cancelar" />
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                  </div>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="id_block_descart_item" class="fake-modal row col-lg-offset-3 col-lg-6 hide">
    <div class="well">
      <div class="page-header">
        <h1 id="type">Descartar um Material</h1>
        <br>
        <div class="row">
          <div class="col-lg-12">
            <div class="bs-example">
              <form class="bs-example form-horizontal" method="POST" action="">
                {% csrf_token %}

                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>Item</th>
                      <th>Quantidade</th>
                    </tr>
                  </thead>
                  <tbody>
                    <input id="id_descarted_itens-TOTAL_FORMS" name="descarted_itens-TOTAL_FORMS" type="hidden" value="{{ descart_item_form.forms.0.item.field.queryset.count }}">
                    <input id="id_descarted_itens-INITIAL_FORMS" name="descarted_itens-INITIAL_FORMS" type="hidden" value="0">
                    <input id="id_descarted_itens-MAX_NUM_FORMS" name="descarted_itens-MAX_NUM_FORMS" type="hidden" value="1000">
                    {% for item in avalible_itens %}
                      <tr data-item="{{ item.id }}">
                        <td>
                          <label for="id_descarted_itens-{{ forloop.counter0 }}-amount">
                            <h4>{{ item.name }}</h4>
                          </label>
                        </td>
                        <td>
                          <div class="col-md-9">
                            <input placeholder="Quantidade" class="form-control" id="id_descarted_itens-{{ forloop.counter0 }}-amount" maxlength="150" name="descarted_itens-{{ forloop.counter0 }}-amount" type="text">
                          </div>
                          <input type="hidden" value="{{ item.pk }}" name="descarted_itens-{{ forloop.counter0 }}-item" id="id_descarted_itens-{{ forloop.counter0 }}-item">
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                {% buttons %}
                  <div class="col-lg-offset-4 col-lg-8">
                    <input type="reset" class="btn btn-default" value="Cancelar" />
                    <input type="submit" class="btn btn-primary" value="Salvar" />
                  </div>
                {% endbuttons %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
  <script type='text/javascript'>
    var map = L.mapbox.map('map', 'luanfonceca.map-705soe3f'),
        markerLayer = L.mapbox.markerLayer().addTo(map);
    
    map.on('click', function(e){
      // NOTEME: Hide all modals
      $(".fake-modal").addClass('hide');

      $("#id_block_add_marker").removeClass("hide");
      
      $("#id_latitude").val(e.latlng.lat);
      $("#id_longitude").val(e.latlng.lng);
    });

    $(".fake-modal").find('input[type="reset"]').on('click', function(e){
      $(this).parents(".fake-modal").addClass("hide");
      $("#id_block_descart_item").find('table tbody tr').show();
    });

    markerLayer.on('layeradd', function(e) {
      var marker = e.layer,
          feature = marker.feature;

      // Create custom popup content
      var popupContent = '<h4>' + feature.properties.title + '</h4>' +
                         '<h5>' + feature.properties.description + '</h5>';
      if (feature.properties.itens) {
        popupContent += '<a data-itens="' + feature.properties.itens + 
        '" class="btn btn-block btn-success" href="{% if request.user.pk %}#descart_item{% else %}{% url 'auth_login' %}{% endif %}">' +
        'Descartar Itens </a>' +
        '<input type="hidden" value="' + feature.properties.url + '">';
      } else {
        popupContent += '<a class="btn btn-block btn-default disabled">Não há itens.</a>';
      }

      // http://leafletjs.com/reference.html#popup
      marker.bindPopup(popupContent, {minWidth: 320});
    });

    $.getJSON('{% url "collect_spot_json" %}', function(data){
      markerLayer.setGeoJSON(data);
    });

    $(document).on('click', 'a[href="#descart_item"]', function(){
      // NOTEME: Hide all modals
      $(".fake-modal").addClass('hide');

      $("#id_block_descart_item").find('form').attr(
        'action', $(this).next().attr('value')
      );
      var tr_itens = $("#id_block_descart_item").find('table tbody tr'),
          cspot_itens = $(this).attr('data-itens').split(',');
      
      for (var i = tr_itens.length - 1; i >= 0; i--) {
        if (cspot_itens.indexOf($(tr_itens[i]).attr('data-item')) == -1) {
          $(tr_itens[i]).hide();
        };
      };
      $("#id_block_descart_item").removeClass("hide");      
    });

    function search() {
      var to_search = $('#id_search').val().toLowerCase();
      function find_in_properties(feature) {
          function find(property, to_search) {
            return property.toLowerCase()
                      .indexOf(to_search) !== -1 
          }

          var properties = feature.properties;
          return (
            find(properties.title, to_search) ||
            find(properties.local, to_search) ||
            find(properties.itens_name, to_search)
          )
      }

      markerLayer.setFilter(find_in_properties);
    }
    $('#id_search').keyup(search);
  </script>
{% endblock %}
